.articles {
    margin: 80px 0;
    padding: 0px 10px;
}

.articles__title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: #212121;
    padding-bottom: 25px;
    border-bottom: 1px solid #EAEAEA;
}

.articles__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 56px 24px;
    margin-top: 40px;
}

@media screen and (max-width: 991px) {
    .articles__cards{
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media screen and (max-width: 576px) {
    .articles__cards{
        grid-template-columns: repeat(1, 1fr);
    }
}